@import '../utilities/_variables';

.portrait-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(px2rem(4));
  border-radius: px2rem(10);
  box-shadow: 0 px2rem(24) px2rem(74) 0 rgb(6 10 45 / 11%);
  bottom: px2rem(200);
  padding: px2rem(4);
  position: absolute;
  right: px2rem(100);
  width: px2rem(300);
}

.hero-personal {
  position: relative;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 100%;
}
