@import './base/index';
@import './utilities/index';
@import './pages/index';

.em {
  font-weight: bold;
}

.ita {
  font-style: italic;
}

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .v-app-bar-nav-icon {
    position: absolute;
  }

  nav {
    padding: px2rem(30);

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  #nav-drawer {
    position: fixed !important;
  }
}
